<ngb-alert
    *ngFor="let error of errors || []; let $index = index"
    type="danger"
    (close)="removeError($index)"
>
    {{ error }}
</ngb-alert>

<div class="card">
    <div class="card-header">Likelihood of possible outcomes</div>
    <div class="card-body">
        <highcharts-chart
            #chart
            *ngIf="expressions?.length > 0; else noData"
            style="height: 500px;"
            class="d-block"
            [Highcharts]="Highcharts"
            constructorType="chart"
            [options]="options"
            [oneToOne]="true"
        ></highcharts-chart>

        <ng-template #noData>
            <div class="card-text text-center text-muted">
                No expressions
            </div>
        </ng-template>
    </div>
</div>
