<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand">Pips Web</a>
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link">Analyzer</a>
            </li>
        </ul>
    </div>
</nav>

<div class="page">
    <div class="container">
        <div class="text-center">
            <h1 class="page-header">Pips dice roll analyzer</h1>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>
